<div class="container" style="margin-top: 25px;">
    <div class="row">
      <div class="col-lg-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://www.macomeclassic.com.ar/storage/images/vehiculos/K5ltVZxXkj2eg6tf7mzpVLZH7v52p8mti7GfNznv.jpg"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img
                src="https://www.macomeclassic.com.ar/storage/images/vehiculos/kitqG9mn8gxUNmQ1NnLvzyAJz13ScB8hRJVo4NXr.jpg"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img
                src="https://www.macomeclassic.com.ar/storage/images/vehiculos/fBnDe5nlpFxmzOXnuJ9dN8lNRWxGvCYup2AOC7Eh.jpg"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img
                src="https://www.macomeclassic.com.ar/storage/images/vehiculos/bT5j7RLs6sSbSzB6aiISmAUXuhP59GjEiufbJc8H.jpg"
                class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <button pButton pRipple type="button" label="Ver mas autos" icon="pi pi-chevron-left" class="p-button-danger" style="margin-right: 160px;" routerLink='/ventas'></button>
        <button pButton pRipple type="button" label="Comprar" icon="pi pi-dollar" style="margin-top: 35px;" class="p-button-success" ></button>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-3">
            <img class="img-fluid"
              src="https://www.macomeclassic.com.ar/storage/images/vehiculos/DH9plg48RsU4mLFrfTNphm8aziE4Gizz5nYUMsCX.png"
              width="80px" height="160px">
          </div>
          <div class="col-lg-9">
            <h1 class="vehiculos">
                Ford Mustang Mach 1
                </h1>
          </div>
          <div class="col-12">
            <div class="Vehiculo-datoTecnico" style="border-top: 1px solid #CCCCCC;">Marca: Ford</div>
  
            <div class="Vehiculo-datoTecnico">Modelo: Mustang Mach 1</div>
  
            <div class="Vehiculo-datoTecnico">Año: 2022</div>
  
  
            <div class="Vehiculo-datoTecnico">Color exterior: Gris</div>
  
            <div class="Vehiculo-datoTecnico">Interior: Cuero Negro</div>
  
            <div class="Vehiculo-datoTecnico">Carrocería: Coupé</div>
  
            <div class="Vehiculo-datoTecnico">Puertas: 2</div>
            <div class="Vehiculo-datoTecnico">Plazas: 4 </div>
            <div class="Vehiculo-datoTecnico">Motor: V8 TiVCT 4949 cc</div>
            <div class="Vehiculo-datoTecnico">Potencia: 475 cv a 7250 rpm </div>
            <div class="Vehiculo-datoTecnico">Transmisión: Automática Secuencial de 10 velocidades</div>
            <div class="Vehiculo-datoTecnico">Kilometraje: 474 KM</div>
            <div class="Vehiculo-datoTecnico">Combustible: Nafta</div>
            <div class="Vehiculo-datoTecnico">Precio: U$S 109.000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
