<div class="fondo">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.macomeclassic.com.ar/images/sliders/MacomeClassic_Slider_1_2160x900.jpg"
          class="d-block w-100" width="100%" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 style="font-family: Lato-Bold; font-size: 30px;">Transformamos la compra de autos clasicos en Argentina
          </h1>
          <h3 style="font-family: Lato-Bold; font-size: 20px;">Tenemos más de 1000 autos certificados y garantizados.
          </h3>
          <button type="button" class="btn btn-dark" routerLink="/ventas"
            style="font-family: Lato-Bold; font-size: 20px;">Comprar un auto</button>
        </div>
      </div>
    </div>
  </div>

  <div class="imagen" style="margin-top: 50px;  background-image: url('https://i.pinimg.com/originals/88/07/df/8807df86b1615ba3c412b61cdc218bcf.jpg');">
    <div class="text-center">
      <h1 style="font-family: Lato-Bold; font-size: 25px; color: rgb(15, 16, 17);">Nuestras Marcas trabajadas</h1>
    </div>
    <p-carousel [value]="cars" [autoplayInterval]="3000" [circular]="true" [numVisible]="5" [numScroll]="1">
      <ng-template let-cars pTemplate="item">
        <img src="{{cars}}" alt="" min-width="100px" min-height="50px" width="110px">

      </ng-template>
    </p-carousel>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="margin-top: 50px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://www.macomeclassic.com.ar/storage/images/restauraciones/OYOpLFllGpXpO7HFVQGBcx96mdIthvYeuscOajMo.jpg"
          class="d-block w-100" width="80%" height="500" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 style="font-family: Lato-Bold; font-size: 30px;">Restauración y puesta en valor de autos clásicos</h1>
          <h3 style="font-family: Lato-Bold; font-size: 20px;">Aparte de vender autos clasicos, tambien realizamos
            restauraciones de los mismos</h3>
          <button type="button" class="btn btn-dark" routerLink="/restauracion"
            style="font-family: Lato-Bold; font-size: 20px;">Visita nuestras restauraciones</button>
        </div>
      </div>
    </div>
  </div>
</div>