<div class="fondo" style="margin-bottom: 30px;">


  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://www.macomeclassic.com.ar/storage/images/restauraciones/OYOpLFllGpXpO7HFVQGBcx96mdIthvYeuscOajMo.jpg"
          class="d-block w-100" width="100%" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://www.macomeclassic.com.ar/storage/images/restauraciones/9OI4hZsLbYLsvfhozaxYr0f9sYxMnJzewZ2sVd4t.jpg"
          class="d-block w-100" width="100%" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://www.macomeclassic.com.ar/storage/images/restauraciones/BjivDFtZfo1HE8oKPdFYw4ypl8mKqMsW89ltEqTP.jpg"
          class="d-block w-100" width="100%" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://www.macomeclassic.com.ar/storage/images/restauraciones/Cie2xjnor4qJzghXqX4M1O7mm5byksmtvnW3nwVG.jpg"
          class="d-block w-100" width="100%" height="500" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <div class=" text-center" style="margin-top: 15px;">
      <h1 style="font-family: Lato-Bold; font-size: 30px;">Restauraciones y Mejoras</h1>
      <h3 style="font-family: Lato-Bold; font-size: 20px;">RESTAURACIÓN</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="restauracion-texto">
          <p style="text-align: justify; font-size: 18px;">Nuestro Workshop es una de las áreas mejor preparadas de la
            empresa junto con nuestro Garage. Un espacio dedicado a clásicos multimarca, Ferrari, Porsche, Jaguar, Alfa
            Romeo, Mercedes Benz, Chevrolet, Ford, BMW entre tantos otros. Preparado para brindar todas las soluciones
            requeridas, respondiendo a un criterio técnico y de calidad en las tareas a realizar.</p>
          <p style="text-align: justify; font-size: 18px;">Disponemos de un lugar dedicado a mecánica, electrónica,
            electricidad, tapicería y "detailing" del automotor. Y otro lugar especializado en chapa y pintura con 3
            cabinas dedicadas. Un ambiente que permite trabajar con amplitud y comodidad. Que cuenta con espacios
            climatizados, monitoreo constante con un sistema de alarma y una sala de reunión exclusiva para nuestros
            clientes.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="restauracion-texto">
          <p style="text-align: justify; font-size: 18px;">Con más de 40 años de trayectoria en autos clásicos, seguimos
            generando resultados y satisfacción en nuestros clientes, trabajando con profesionalismo y calidad.&nbsp;
          </p>
          <p style="text-align: justify; font-size: 18px;"><b>CarsClassic Workshop</b> ubicado en Vicente López,
            provincia de Buenos Aires, cuenta con un equipo experimentado para avanzar en proyectos de restauración y
            reparación de autos clásicos. Brindando confianza y calidez. A continuación se podrán ver algunos de ellos.
          </p>
          <p style="text-align: justify; font-size: 18px;">No dude en escribirnos por cualquier consulta.</p>
        </div>
      </div>
    </div>
  </div>
  <div class=" text-center" style="margin-top: 15px;">
    <h1 style="font-family: Lato-Bold; font-size: 30px;">Conocé nuestras restauraciones de vehículos</h1>

  </div>
  <app-table></app-table>
</div>