.fondo{
    background-image: url('https://i.pinimg.com/originals/88/07/df/8807df86b1615ba3c412b61cdc218bcf.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}