<footer class="site-footer ">   
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 style="font-family: Lato-Bold;">Sobre nosotros</h6>
          <p class="text-justify" style="font-size: 17px;">Somos una empresa familiar dedicada a la compra, venta y restauracion de vehiculos antiguos. Intimar con nuestra historia permite al lector advertir el intricado conocimiento que hemos adquirido a través de la experiencia, así como la emocionante relación que seguimos cultivando con el automovilismo.</p>
        </div>


        <div class="col-xs-6 col-md-3">
          <h6 style="font-family: Lato-Bold;">Paginas</h6>
          <ul class="footer-links">
            <li><a class="nav-Link" style="font-size: 17px;" routerLink="/inicio">Inicio</a></li>
            <li><a class="nav-Link" style="font-size: 17px;" routerLink="/ventas">Autos en ventas</a></li>
            <li><a class="nav-Link" style="font-size: 17px;" routerLink="/restauracion">Restauracion</a></li>
            <li><a class="nav-Link" style="font-size: 17px;" routerLink="/contacto">Contacto</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text" style="font-size: 17px;">Copyright &copy; 2022</p>
        </div>

        
      </div>
    </div>
</footer> 
